body {
	width: 98%;
	min-width: 1358px;
	height: 95%;
	background-color: #7FFFD4;
	color: #694221;
	font-family: Bookman Old Style, sans-serif;
	font-size: 14pt;
}
#logo {
	color: black;
	font-size: 18pt;
	text-align:center;
	height: 200px;
	line-height: 150px;
}
#typing {
	margin-left:10%;
	width:80%;
}
#info {
	border: 1px solid #b0bdcc;
	padding: 3px 1px;
	height:30px;

}
#info div {
	float: left;
	text-align:center;
	width:33%;
}
#text_type{
	border: 2px solid #b0bdcc;
	border-radius: 4px;
	min-height: 23px;
	padding: 8px 5px;
}
textarea {
	font-family: Bookman Old Style, sans-serif;
	width: 100%;
	height: 30px;
	resize: none;
	font-size: 14pt;
}
.next {   color: #000;}
.current {
	color: green;
	border-bottom: 2px solid green;
}
.letter_bad {
	color: red;
	border-bottom: 2px solid red;
}
.letter_ok {
	color: grey;
}

div.kb {
	color: #694221;
	font-family: Bookman Old Style, sans-serif;
	font-size: 14pt;
	padding: 0;
	width: 80%;
	margin-left: 10%;
	float: left;
	background-color: pink;
}


div.kb div.key {
	border-radius: 5px;
	position: relative;
	background-color: #fff;
	line-height: 40px;
	border: 1px solid #777;
	margin: 2px;
	color: #444;
	text-decoration: none;
	display: block;
	text-align: center;
	outline: none;
	float: left;
	width: 6%;
	height: 50px;
}
div.kb div.key_two {
	line-height: 18px;
	font-size: 14pt;
}
div.kb div.key_two div.key_top {
	margin-top: 4px;
	padding-left: 5px;
	text-align: left;
}
div.kb div.key_two div.key_bottom {
	padding-right: 5px;
	text-align: right;
}
div.kb div.key_back {
	width: 12%;
}

div.kb div.key_tab {
	width: 9%;
}
div.kb div.key_backslash_rgt {
	width: 9%;
}

div.kb div.key_caps {
	width: 11%;
	margin-right: 5px;
}
div.kb div.key_enter {
	width: 13%;
	margin-left: 5px;
}

div.kb div.key_shift_lft_long {
	width: 15%;
	margin-right: 4px;
}
div.kb div.key_shift_rgt {
	width: 16%;
	margin-left: 4px;
}

div.kb div.key_ctrl_lft {
	width: 8%;
}
div.kb div.key_alt_lft {
	width: 6%;
	margin-left: 14%;
}
div.kb div.key_space {
	width: 33%;
}
div.kb div.key_alt_rgt {
	width: 6%;
	margin-right: 8px;
}
div.kb div.key_ctrl_rgt {
	width: 8%;
	margin-left: 21%;
}
