<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Keyboard Training</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="key.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>
<body class="landing">
<input type="hidden" id="text" th:value="${text}"/>
<div id="page-wrapper">
    <!-- Header -->
    <header id="header" class="alt">
        <h1><a th:href="@{/}">Keyboard </a>Training</h1>

        <nav id="nav" th:if="${user} == null">
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/login}" class="button">Sign In</a></li>
                <li><a th:href="@{/registration}" class="button">Sign Up</a></li>
            </ul>
        </nav>

        <nav id="nav" th:if="${user} != null">
            <ul>
                <li><span th:text="${user}"/></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input class="" type="submit" value="Sign Out"/>
                    </form>
                </li>
            </ul>
        </nav>


    </header>

    <!-- Banner -->
    <section id="banner">
        <div class="endLesson"><h1>You have finished all lessons for today</h1></div>
    </section>
</div>
</body>
</html>