<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>KeyboardTraining</title>
    <script type="text/javascript" src="key.js"></script>
    <link href= "style.css" rel="stylesheet"/>
</head>

<body>
<div id = "id1">
    <h2 th:text="${user}"/>
    <h2 th:text="${lesson}"/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</div>


<div id = "id2">
<p>Click <a th:href="@{/login}">here</a> to login</p>
<p>Click <a th:href="@{/registration}">here</a> to sign up</p>
    <a th:href="@{/privateCabinet}">Private Cabinet</a>
</div>

<div id="logo">
    <h1>Trainer</h1>
</div>
<div id="typing">
    <div id="info">
        <div id="typed"></div>
        <div id="timer">Время: 00:00</div>
        <div id="errors"></div>
    </div>
    <div id="text_type">
        <span id="next"><i th:text="${text}"/></span><br/>
        <!--<span class="current">letter will input green color</span><br>
        <span class="letter_ok">letter true=grey </span><br>
        <span class="letter_bad">letter false=red </span><br>-->
    </div>
    <div>
        <form name="input_form" id="input_form" action="">
            <!--<input name="input_text" id="input_text"  > </input> -->
            <textarea name="input_text" id="input_text"  spellcheck="false" onkeydown="if(event.keyCode == 13){ if (event.shiftKey==1) { return true;} else { return false;}}" ></textarea>
        </form>
    </div>
</div>
</body>
</html>