<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Moderator</title>
</head>

<link href="style.css" rel="stylesheet"/>

<body>
	<div id="logo"><h1>Hello, Super Admin</h1></div>
	<h2>Choose bags </h2>
	<form th:action="@{/}" method="post">
		<div><input type="checkbox" name="option1" value="a1"/>Bag 1</div>
		<div><input type="checkbox" name="option2" value="a2"/>Bag 2</div>
		<div><input type="checkbox" name="option3" value="a3"/>Bag 3</div>
		<div><input type="checkbox" name="option4" value="a4"/>Bag 4</div>
		<div><input type="checkbox" name="option5" value="a5"/>Bag 5</div>
		<div><input type="submit" value="Apply"/></div>
   </form>

</body>
</html>

